body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    border: 2px solid #4caf50; /* Border color for sections */
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha channel for background opacity */
    padding: 40px; /* Increased padding for larger sections */
    border-radius: 12px; /* Larger border-radius for rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased box shadow */
    text-align: left;
    margin-bottom: 40px; /* Increased margin between sections */
}

/* Use flexbox to have label and input elements side by side */
label, input {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    margin-bottom: 20px; /* Increased margin between label and input */
}

label {
    margin-bottom: 0; /* Remove bottom margin for label */
    font-size: 18px; /* Larger font size for labels */
}

input {
    margin-top: 10px; /* Increased top margin for input */
    font-size: 16px; /* Larger font size for inputs */
}

button {
    padding: 15px; /* Increased padding for larger buttons */
    font-size: 16px; /* Larger font size for buttons */
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px; /* Rounded corners for buttons */
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: #ff0000;
    margin-bottom: 20px; /* Increased margin for errors */
    font-size: 16px; /* Larger font size for error messages */
}
